body{
    width:33%;
}
#res{
    background-color:lightgray;
    border:solid;
    height:50px;
    font-size:40px;
}
.a{
    height:100%;
    width:25%;
    font-size:40px;
    margin:0px;
    float:left;
}
#btn0,#btn1{
    background-color:lightgreen;
    color:brown;
}
#btnClr,#btnEql{
    background-color:darkgreen;
    color:white;
}
#btnSum,#btnSub,#btnMul,#btnDiv{
    background-color:black;
    color:red;
}
